<h1>New Wing Order</h1>

<%= form_for(@wing_order) do |f| %>
  <div class="field">
    <%= f.label(:customer_name, "Full Name") %>
    <%= f.text_field :customer_name %>
  </div>

  <div class="field">
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>

  <div class="field">
    <%= f.label :state %>
    <%= f.select :state, options_for_select(@state_collection) %>
  </div>

  <div class="field">
    <%= f.collection_radio_buttons :quantity, @quantity_collection, :first, :second %>
  </div>

  <div class="field">
    <%= f.label :ranch_dressing, "Add Ranch Dressing" %>
    <%= f.check_box :ranch_dressing %>
  </div>

  <div class="field">
    <%= f.collection_check_boxes :flavor_ids, @flavor_collection, :id, :name %>
  </div>

  <%= f.submit("Place Order") %>
<% end %>
